
.div-btns {
    padding-top: 20px;
    justify-content: end;
    display: flex;
}

.div-save {
    /* padding-top: 20px;
    padding-right: 10px; */
    width: 35%;
}
.div-back {
    padding-right: 20px;
    /* width: 20%; */
}