:host ::ng-deep {
    // .p-dropdown {
    //     width: 14rem;
    //     font-weight: normal;
    // }
    
    .book-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .book-publishingCompany {
        margin: 0 0 1rem 0;
    }
    
    .book-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .book-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .grid-nogutter {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .p-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .book-grid-item {
        margin: 2px;
        border: 1px solid #dee2e6;
    
        .book-grid-item-top,
        .book-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        img {
            width: 70%;
            width: 190px;
            height: 270px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .book-grid-item-content {
            text-align: center;
        }
    

    }
    
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

// @media screen and (min-width: 576px) {
// 	:host ::ng-deep .book-list-item {
// 		flex-direction: column;
// 		align-items: center;

// 		img {
// 			width: 15%;
// 			margin: 2rem 0;
// 		}

// 		.book-list-detail {
// 			text-align: center;
// 		}

// 		.book-list-action {
// 			display: flex;
// 			flex-direction: column;
// 		}

// 		// .book-list-action {
// 		// 	margin-top: 2rem;
// 		// 	flex-direction: row;
// 		// 	justify-content: space-between;
// 		// 	align-items: center;
// 		// 	width: 100%;
// 		// }
// 	}
// }